@charset "UTF-8";

body{
    background-color: rgb(181, 242, 91);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(18, 115, 17);
}

h1#principal{
    color: #D55CF2;
    text-align: center;
    background-color:rgb(18, 115, 17);
    border-radius: 10px;
}
h2{
    color: rgb(38, 144, 36);
}

.intermediario{
    color: #56732C;
}

.avancado{
    color: #86B344;
}

.destaque{
    color: #5f1172;
    text-shadow: 1px 1px 2px #a52fc3bb;
    background-color: rgb(234, 234, 58);
}